.lead{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    box-sizing: border-box;   
}

@media screen and (max-width: 1124px){
    .lead{
        padding: 0 48px;
    }
}

@media screen and (max-width: 984px){
    .lead{
        padding: 0;
    }
}