.place__paragraph{       
    font-size: 18px;
    line-height: 29px;
    margin: 0 0 26px;
}

.place__paragraph:last-of-type{
   margin: 0;
}
@media screen and (max-width: 1124px){
    .place__paragraph{       
        margin-bottom: 27px;
    }
} 

@media screen and (max-width: 984px){
    .place__paragraph{        
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 25px;      
    }
}

@media screen and (max-width: 586px){
    .place__paragraph{
        padding: 0 16px;         
        line-height: 26px;
    } 
}
